body {
  background-color: rgb(220, 220, 220);
  font-family: Arial, Helvetica, sans-serif;
}

/***Common elements***/
/**Sections**/
section {
  text-align: center;
  padding: 15px 50px;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/**Boxes**/
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 30px;
}

/*Box alignment*/
.column {
  align-items: stretch;
  flex-direction: column;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.right {
  align-items: flex-end;
  text-align: right;
}

/**Text**/
h1 {
  color: #827a9b;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

p {
  line-height: 1.5em;
}

/**Graphic elements**/
.icon {
  height: 25px;
  width: auto;
}

.vline {
  width: 0px;
  height: inherit;
  align-self: stretch;
  background-color: #5b5b5f;
}

/*SVGs*/
.purple {
  opacity: 0.6;
  fill: #827a9b;
}

.inner-line {
  fill: none;
  stroke: #5b5b5f;
  stroke-width: 0.75;
}

.purple-line {
  opacity: 0.6;
  fill: none;
  stroke: #827a9b;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

/*****header*****/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;
}

header .column div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header .column div p {
  margin: 0.5rem;
  word-break: break-word;
}

header .column img {
  padding-left: 0.2rem;
}

#M {
  height: 100px;
  width: auto;
  padding: 0 1rem;
  align-self: center;
}

header p span {
  font-size: 18pt;
}

/*****main box, "container"*****/
#main-box {
  padding: 0 60px 40px 40px;
}

/****nav****/
nav ul {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-bottom: 5px;
}

nav ul li {
  list-style: none;
  padding-left: 10px;
}

nav ul a {
  text-decoration: none;
  font-family: "Montserrat";
  text-transform: uppercase;
  background-color: #827a9b;
  color: white;
  padding: 0.5rem;
}

nav ul a:hover {
  background-color: #c2b6d5;
}

.short-text {
  display: none;
}

/****main****/
main {
  display: flex;
}

/***links***/
#links div {
  background-color: #827a9b;
  margin-bottom: 10px;
  transition: 0.3s;
}

#links div:hover {
  background-color: #c2b6d5;
}

#links img {
  padding: 5px;
  width: 30px;
  height: 30px;
}

/***scroll content ("inside the scrollable white box", main content)***/
#scroll-content {
  height: 450px;
  background-color: white;
  border-width: 0 10px 10px 0;
  border-color: #827a9b;
  border-style: solid;
  overflow-y: scroll;
}

/**Intro**/
#intro {
  padding: 0 15%;
}

/**Experience section**/
#experience .section-box {
  padding: 0 15px;
}

#experience div {
  display: flex;
  flex-shrink: 0;
}

#experience span {
  color: #827a9b;
}

#experience .right svg {
  padding: 0.75rem 0 0 0.5rem;
  height: 2rem;
  width: auto;
  flex-shrink: 0;
}

#experience .left svg {
  padding: 0.75rem 0.5rem 0 0;
  height: 2rem;
  width: auto;
  flex-shrink: 0;
}

#experience ul {
  padding: 0;
  width: 80%;
  word-wrap: break-word;
}

/**Skills section**/
#skills .left .box {
  padding: 0;
  justify-items: center;
}

#skills .left .box p {
  margin: 0 5px;
}

/**Languages section**/
#languages svg {
  height: 80px;
  width: auto;
  padding-bottom: 15px;
}

#languages span {
  font-size: 10pt;
}

/**Contact form**/
#contact p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#contact label {
  align-self: flex-start;
  margin-left: 10%;
}

#contact input,
#contact textarea {
  width: 80%;
  padding: 5px;
  border: 1px solid #5b5b5f;
}

#contact .btn {
  font-family: "Montserrat";
  background-color: #827a9b;
  color: white;
  border: none;
  transition: 0.3s;
}

#contact .btn:hover {
  background-color: #c2b6d5;
}

/**Final note**/
#final-note p {
  font-size: 10pt;
  background-color: #c2b6d5;
  padding: 5px;
}

#final-note p a {
  color: white;
}

/*****footer*****/
footer {
  background-color: #827a9b;
  font-family: "Montserrat";
  font-size: 9pt;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  header {
    padding: 5px 0;
  }

  header p span {
    font-size: 12pt;
  }

  #main-box {
    padding: 10px;
  }

  h1 {
    font-size: 12pt;
  }

  p,
  td {
    font-size: 8pt;
  }

  nav {
    font-size: 8pt;
  }

  .short-text {
    display: inline-block;
  }

  .full-text {
    display: none;
  }

  #links img {
    width: 20px;
    height: 20px;
  }

  /**Skills section -> changed to vertical**/
  #skills .right {
    text-align: center;
    align-items: center;
  }

  #skills .left {
    align-items: flex-start;
    max-width: 202px;
  }

  #skills hr {
    width: 100%;
  }
}
