body {
    background-color: rgb(220, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-wrap: nowrap;
}

#main-box {
    padding: 0 120px 60px 80px;
}

/**Nav**/

#nav-links {
    display: flex;    
    justify-content: flex-end;
    margin-bottom: 0;
    padding-bottom: 5px;
}

#nav-links li {
    list-style: none;
    padding-left: 10px;
}

#nav-links a {
    text-decoration: none;
    font-family: "Montserrat";
    text-transform: uppercase;
    background-color: #827A9B;
    color:white;
    padding: 0.5rem;
}

#nav-links a:hover{
    background-color: #C2B6D5;
}

/**Main**/

main {
    display: flex;
}

#scroll-content {    
    height: 500px;
    background-color: white;    
    border-width: 0  10px 10px 0;
    border-color: #827A9B;
    border-style: solid;
    overflow-y: scroll;
}

footer {
    background-color: #827A9B;
    font-family: "Montserrat";
    font-size: 12pt;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

section {
    text-align: center;
    padding: 15px 50px;
}

.section-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/**Boxes**/

.section-box {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex: 1;   
    flex-wrap: wrap;   
    padding: 0 30px; 
}

/*Box alignment*/

.column {    
    align-items: stretch;
    flex-direction: column;
}

.left {
    align-items: flex-start;
    text-align: left;
}

.right {
    align-items: flex-end;    
    text-align: right;
}

/**Text**/

h1 {
    color: #827A9B;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

p {
    line-height: 1.5em;
}

/**Graphic elements**/

.icon {
    height: 25px; 
    width: auto;
}

#M {
    height: 100px; 
    width: auto;
    padding: 0 1rem;
}

.cheese {
    height: 80px;
    width: auto;
    padding-bottom: 15px;
}

.vline {
    width: 0px;
    height: inherit;
    align-self: stretch;
    background-color: #5B5B5F;
}

/*SVGs*/

.st1 {
    fill:none;stroke:#5B5B5F;
    stroke-width:0.75;
    stroke-miterlimit:10;
}

.st2 {
    opacity:0.6;
    fill:#827A9B;
}

.st3 {
    opacity:0.6;
    fill:#C2B6D5;
}

.cheese .st1 {
    fill:none;
    stroke:#5B5B5F;
    stroke-width:0.75;
    stroke-miterlimit:10;
}

.cheese .st2 {
    opacity:0.6;
    fill:none;
    stroke:#827A9B;
    stroke-width:6;
    stroke-miterlimit:10;
}

/****Links****/

.link-box {
    width: 40px;
    height: 40px;
    background-color: #827A9B;
    margin-bottom: 10px;
    transition: 0.3s;
}

.link-box:hover{
    background-color: #C2B6D5;
}

.link-icon {
    padding: 5px;
    width: 30px;
    height: 30px;
}

/****Presentation section****/

#contact-info {
    font-size: 10pt;
    text-align: right;
    overflow-wrap: break-word; /*doesn't work ?? :(*/
}

/****Intro****/

#intro {
    padding: 0 15%;
}

/****Experience section****/

#experience .section-box {
    padding: 0 15px;
}

.exp-box {
  display: flex;
  flex-shrink: 0;
}

.exp-time {
    color: #827A9B;
}

.exp-box .l {
    padding: 15px 0 0 10px;
    width: 10px;
    height: 20px;
    flex-shrink: 0;
}

.exp-box .r {
    padding: 15px 10px 0 0;
    width: 10px;
    height: 20px;
    flex-shrink: 0;
}

/****Skills section****/

.graph {
    width: 100px;
    height: 10px;
    padding-right: 15px;
}

/****Contact form****/
#contact-form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#contact-form label {
    align-self: flex-start;
    margin-left: 10%;
}

#contact-form input, #contact-form textarea {  
    width: 80%;
    padding: 5px;
    border: 1px solid #5B5B5F;
}

#contact-form .btn {
    font-family: 'Montserrat';
    background-color: #827A9B;
    color: white;
    border: none;
    transition: 0.3s;
}

#contact-form .btn:hover{
    background-color: #C2B6D5;
}

/****Final note****/

#final-note p {
    font-size: 10pt; 
    background-color: #C2B6D5;
    padding: 5px
}

#final-note p a {
    color:white;
}

@media (max-width: 768px) {

    header {
        padding: 5px 0;
    }

    #main-box {
      padding: 10px;
    }

/**Skills section -> changed to vertical**/
    #knowledge {
        text-align: center;
    }

    #skills-table {
        align-items: center;
    }

    #skills hr {
        width: 100%;
    }

}